 {% extends "base.html.twig" %}
    
    {% block body %}

        {# {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %} #}

        <div class="main-container">

             {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="pre-inscription-prestataire">
                <h1>Pre-inscription prestataire</h1>

                        {{form_start(form) }}
                            {{ form_widget(form) }}
                        {{ form_end(form) }}      

                </div>
            </div>
    {% endblock %}