    {% extends "base.html.twig" %}
    {# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

    {% block body %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="main-container">

            {{form_start(form) }}

                <label for="email">Adresse mail</label>
                {{ form_widget(form.email) }}

                <label for="mdp">Mot de passe</label>
                {{ form_widget(form.plainPassword) }} 
                
            {{ form_end(form) }}      

            
        </div>

    {% endblock %}
