<div class="main-container">

    <div class="section-C">
        <div class="form">

            <form action="{{ path('home') }}" method="POST">
                {# {{form_start(form) }} #}

                    {{ form_widget(form.nomPrestataire) }}
                    {{ form_widget(form.nomCategorie) }}

                {# {{ form_end(form) }}  #}
                
            </form>

        </div>
        <div class="maps">
        </div>
    </div>
</div>

    



